body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.nebula_left {
	float:left;
	width:300px;
	padding-top:10px;
	padding-right:10px;
}

.nebula_right {
	float:right;
	width:400px;
	padding-top:10px;
	padding-left:10px;
}